a{
text-decoration: none;
color: #292929;
}

body{
background-color: rgb(237, 237, 237);
margin: 0px;
padding: 0px;
font-family: 'Lora';
}

header{
position:absolute;
background-color: white;
height: 12vh;
top:0%;
left:0%;
width:100%;
margin: 0px;
padding: 0px;
}

p{
color: #292929;
font-size:25px;
padding: 0px;
margin: 0px;
}

.numero{
display: block;
position: absolute;
top:50%;
left:3%;
padding:0px;
margin:0px;
transform:translate(0%,-50%);
}

.uno{
display: block;
position: absolute;
font-size: 35px;
text-align: center;
padding: 10px;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

footer{
display:block;
padding: 20px;
margin: 0px;
position: absolute;
background-color: #292929;
width: calc(100% - 40px);
height: 15vh;
bottom: 0%;
}