a{
text-decoration: none;
color: #292929;
}

body{
background-color: rgb(237, 237, 237);
margin: 0px;
padding: 0px;
font-family: 'Lora';
}

header{
position:absolute;
background-color: white;
height: 12vh;
top:0%;
left:0%;
width:100%;
margin: 0px;
padding: 0px;
z-index: 999999999;
}

p{
color: #292929;
font-size:25px;
padding: 0px;
margin: 0px;
}

.numero{
display: block;
position: absolute;
top:50%;
left:3%;
padding:0px;
margin:0px;
transform:translate(0%,-50%);
}

.uno{
display: block;
position: absolute;
font-size: 35px;
text-align: center;
padding: 10px;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

footer{
display:block;
padding: 20px;
margin: 0px;
position: absolute;
background-color: #292929;
width: calc(100% - 40px);
height: 15vh;
bottom: 0%;
}
card{
  cursor:pointer;
  display: block;
  position:relative;
  height:40%;
  width:30%;
  background-color:rgb(255,255,255);
  padding:0px;
  outline:none;
  transition:1s;
}
card:focus{
  cursor:auto;
  transform:scaleX(-1);
}
.front{
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:80%;
  opacity:1;
  padding:0px;
  margin:0px;
  text-align:center;
  transition-delay:0.3s;
}
.front2{
  display: block;
  position: absolute;
  top:10px;
  left:10px;
  font-size:17.5px;
  opacity:1;
  padding:0px;
  margin:0px;
  text-align:center;
  transition-delay:0.3s;
  color:rgb(105,105,105);
}
.back{
  display: block;
  position: absolute;
  width:80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) scaleX(-1);
  opacity:0;
  transition-delay:0.3s;
  font-size: 7px;
}
card:focus .front{
  transition-delay:0.3s;
  opacity:0;
}
card:focus .front2{
  transition-delay:0.3s;
  opacity:0;
}
card:focus .back{
  transition-delay:0.3s;
  opacity:1;
}
.timeline{
  position: absolute;
  width: 100%;
  height: 11.3vh;
  left:0%;
}